*{
	margin: 0;
	padding: 0;
	background-color: #3A8BC7;

}

.navbar1{
	background-color: #4c4c4ca3;
	/*opacity: 0.8;*/
}

.logo{
	max-width: 75px;
}


.menu{
	float: left;
	color:white;
	text-align: left;

}

.menu:hover {
	text-decoration: none;

}

/*.navbar1{
	position: fixed;

}

.body{
	margin-top: 10%;
}*/