*{
	margin: 0;
	padding: 0;
	background-image: url('img/niñofondo.jpg');
}

.container{
	max-width: 100%;
	background-color: red;
	
}

.menu:hover {
	text-decoration: none;
}

.logo{
	width: 80px;
	float: left;
}

.fotos_carrusel{
	max-width: 70%;
	position: relative;
	margin:30px 10% 30px 10%;

}

